@using CodeTheWay.Web.Ui.Models.Enums
@model CodeTheWay.Web.Ui.Models.Barrel
@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<p>Radius:  @Model.Radius</p>
<p>Height:  @Model.Height</p>
@{
    var contents = (Contents) Model.Contents;
    <p>Contents:  @contents</p>
}
<p>Last Known Location:  @Model.CurrentLocation</p>
<p>Date registered:  @Model.DateCreated</p>
<div>
    <a asp-action="Index">Back to Inventory</a>
</div>